.displayer {
    display: flex;
    flex-wrap: wrap;
}

.matrix {
    background-color: #ccc;
    border: 1px solid #000;
    font-size: 0;
    margin: 80px;
    position: relative;
}

.matrix__element {
    background-color: #3A69CD;
    border-radius: 50%;
    transition: left .5s, top .5s;
    position: absolute;
    transform: translateZ(0);
}

.matrix__element--abs {
    left: 0;
    position: absolute;
    top: 0;
}

.matrix__element--static {
    display: inline-block;
}

.matrix.even-line .row:nth-child(even) .matrix__element {
    background-color: #D60D0D;
}

.matrix.diagonal .matrix__element:nth-child(11n - 10) {
    background-color: #D60D0D;
}

.matrix.chess .row:nth-child(odd) .matrix__element:nth-child(2n + 1),
.matrix.chess .row:nth-child(even) .matrix__element:nth-child(2n + 2) {
    background-color: #D60D0D;
}


.matrix.above-main-diagonal .matrix__element:nth-child(10n) {
    background-color: #D60D0D;
}

.matrix.above-secondary-diagonal .matrix__element:nth-child(3n - 20) {
    background-color: #D60D0D;
}